In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv(r"F:\spam.csv",encoding= 'latin1')
df = df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis = 1)
df.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [3]:
df['v1'] = df['v1'].replace({'ham':0,'spam':1})
print(df.shape)
df.head(10)

(5572, 2)

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...
5   1  FreeMsg Hey there darling it's been 3 week's n...
6   0  Even my brother is not like to speak with me. ...
7   0  As per your request 'Melle Melle (Oru Minnamin...
8   1  WINNER!! As a valued network customer you have...
9   1  Had your mobile 11 months or more? U R entitle...

In [4]:
vectorizer = CountVectorizer(max_features = 5000)
x = vectorizer.fit_transform(df['v2'])
y = np.array(df['v1'])
print(x.shape)
print(y.shape)

(5572, 5000)
(5572,)

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.75,test_size = 0.25, random_state = 42)
print(f"X_train shape: {x_train.shape}")
print(f"X test shape: {x_test.shape}")
print(f"Y train shape: {y_train.shape}")
print(f"Y test shape: {y_test.shape}")

X_train shape: (4179, 5000)
X test shape: (1393, 5000)
Y train shape: (4179,)
Y test shape: (1393,)

In [6]:
nb = MultinomialNB()
nb.fit(x_train,y_train)

MultinomialNB()

In [7]:
y_pred = nb.predict(x_test)
acc_score = accuracy_score(y_test,y_pred)
print(f"Accuracy Score: {acc_score}")

Accuracy Score: 0.9813352476669059